*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #222;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-container{
    width: 400px;
    background-color: #fff;
    padding: 1rem 0;
}

.form-container > * {
    display: block;
    width: 80%;
    padding: .5rem;
    margin: .25rem auto;
}
.radio-container label{
     margin: 0 .5rem;
}

.checkbox-container{
    text-align: center;
}
.form-container input[type="submit"]{
    width: 50%;
    color: #fff;
    border: none;
    margin-top: 1rem;
    background-color: #4c4cff;
}
.form-container legend{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.form-container p{
    text-align: center;
}